/TokoEmasJagoPusat/nbproject/private/
/TokoEmasJagoCabang/nbproject/private/
/JagoBangunPersadaFx/nbproject/private/
/AuriSteel/nbproject/private/
/TokoEmasPadi/nbproject/private/
/TunasMekar/nbproject/private/
/AuriSteel/build/
/JagoBangunPersadaFx/build/
/AuriSteel/dist/
/JagoBangunPersadaFx/dist/
/TunasMekar/build/
/TunasMekar/dist/
/TokoEmasJagoCabang/build/
/TokoEmasJagoCabang/dist/
/SentralIndahPerdana/nbproject/private/
/SentralIndahPerdana/build/
/SentralIndahPerdana/dist/
/TokoEmasJagoPusat/build/
/TokoEmasJagoPusat/dist/